@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");

.main__cadastro {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
}

.logo__cadastro {
  width: 30%;
}

.cadastro {
  width:100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 100px
}

.cadastro__text {
  color: #3772ff;
  font-family: "Poppins";
  width: 100vw;
  margin: 0.7em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro__label {
  color: #737380;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.cadastro__inpt {
  background: #f7f7f7;
  border-radius: 6px;
  text-align: center;
  width: 15em;
  height: 30px;
  border: none;
}

.cadastro__inpt ::placeholder {
  color: #bcbcbc;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding: 0 auto;
}

.cadastro__forma2 {
  width:15%;  
  left: 0;
  top: 45%;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: left;
}

.forma{
  width: 20em;
  height: 12em;
}
