@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");

.main__cadastro {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
}

.logo__cadastro {
  width: 30%;
}

.cadastro {
  width:100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 100px
}

.cadastro__text {
  color: #3772ff;
  font-family: "Poppins";
  width: 100vw;
  margin: 0.7em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patas{
  position:absolute;
  top:0;
  right:0;
  height:30%;
}

.cadastro__label {
  color: #737380;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.cadastro__inpt {
  background: #f7f7f7;
  border-radius: 6px;
  text-align: center;
  width: 15em;
  height: 30px;
  border: none;
}

.cadastro__inpt ::placeholder {
  color: #bcbcbc;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding: 0 auto;
}

.cadastro__forma2 {
  display: flex;
  flex-direction: row;
  float: left;
}

.forma{
  width:100%;
  height:200px;
}

.forma2{
  position: absolute;
  left: 0;
  top:250px;
  float : left;
}
.form_container{
  display: flex;
  flex-direction: row
}


@media (min-height: 768px) {
  .forma2{
    transform: rotate(3.142rad);
    left: auto;
    right: 0;
    top:400px;
  }
  .cadastro{
    margin-top:200px;
  }
}


@media (min-height: 1220px) {

  .cadastro{
    margin-top:350px;
  }

  .forma{
    width:100%;
  }
}


@media (max-width: 300px) {
  .forma2{
    display:none;
  }
}
