@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");

.main__login {
  width: 100vw;
  height: 100vh;
}

.logo {
  width: 30%;
  margin-top:100px;
}

.login__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.login__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #3772ff;
}

.login__label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #737380;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login__inpt {
  background: #f7f7f7;
  border-radius: 6px;
  text-align: center;
  width: 15em;
  height: 30px;
  border: none;
}

.login__inpt::placeholder {
  color: #bcbcbc;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding: 0 auto;
}

.login__esqueci {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-decoration-line: underline;
  color: #FC7071;
}


@media (min-height: 768px) {
    .logo{
      margin-top: 130px;
    }
}


@media (min-height: 1300px) {
  .logo{
    margin-top: 450px;
  }
}
