@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");
.main__perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.perfil__text {
  color: #3772ff;
  width: 80%;
  padding-top: 100px;
}

.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.perfil__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f7f7f7;
  width: 80vw;
  height: 60vh;
  overflow: auto;
}

.perfil__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #737380;
}

.perfil__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  padding-left: 25px;
}

.label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3772ff;
}

.perfil__foto {
  height: 15%;
}

.add__foto {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #fc7071;
}

.perfil__inpt {
  background: #ffffff;
  mix-blend-mode: normal;
  border-radius: 6px;
  border: none;
  width: 80%;
  text-align: center;
  width: 70vw;
  height: 30px;
}

.perfil__sobre {
    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 6px;
    border: none;
    width: 80%;
    text-align: start;
    width: 70vw;
    height: 150px;
  }

.perfil__sobre::placeholder {
    text-align: start;
    
}

