@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");

.main__mensagem {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mensagem__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #3772ff;
  align-items: center;
  padding-top: 100px;
  padding-left: 20px;
  width: 60%;
}

.mensagem__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f7f7f7;
  width: 80vw;
  height:50vh;
  overflow: auto;
}

.mensagem__label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3772ff;
  padding-bottom: 5px;
  margin-left: 20px;
}

.mensagem__inpt {
  background: #ffffff;
  border-radius: 6px;
  text-align: center;
  width: 70vw;
  height: 30px;
  mix-blend-mode: normal;
  border-radius: 6px;
  border: none;
  margin-left: 20px;
}

.mensagem__mensagem{
    background: #ffffff;
    border-radius: 6px;
    text-align: center;
    width: 70vw;
    height: 100px;
    mix-blend-mode: normal;
    border-radius: 6px;
    border: none;
    margin-left: 20px;
}

.mensagem__inpt ::placeholder {
    color: #bcbcbc;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding: 0 auto;
  }

@media (min-height:890px) {
  .mensagem__inpt{
    margin-bottom: 20px;
  }
  .mensagem__form{
    height:60vh;
  }

  .mensagem__mensagem{
    height:250px;
  }
}

@media (min-height:1000px) {
    .mensagem__inpt{
      margin-bottom: 30px;
    }

    .mensagem__text{
      margin-top: 100px;
    }
}


@media (max-width: 350px ) {
  .mensagem__inpt{
    width: 100%;
  }
  .mensagem__form{
    width: 100vw;
  }

  .mensagem__mensagem{
    width: 100%;
  }

  .mensagem__text{
    width: 100%;
  }
}
