@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");

.casa {
  width: 1em;

  position: absolute;
  display: flex;
  top: 48px;
  left: 48px;
  padding: 0 auto;
  z-index: 99;
}

.mensagem {
  width: 1em;

  position: absolute;
  top: 52px;
  left: 130px;
}

.header {
  width: 30%;
  position: absolute;
  height: 20em;
}
.forma {
  left: 0;
}

.main__home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__content {
  background-color: #3772FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  flex:1;
}

.logo {
  width: 35%;
  left: 87px;
  top: 168px;
  padding: 0;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  width: 100vw;
}

.content__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  width: 155px;
  height: 48px;
  left: 102px;
  top: 205px;
  color: #ffffff;
  font-family: "Poppins";
}

body {
  font-family: "Poppins";
}

.content__text {
  width: 248px;
  height: 72px;
  left: 56px;
  top: 275px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins";

  text-align: center;

  color: #ffffff;
}

.btn__inicial {
  width: 180px;
  height: 40px;
  background-color: #fc7071;
  border: none;
  text-align: center;
  color: #ffffff;
  font-family: "Poppins";
  margin: 10px;
}

.ilust {
  width: 40%;
  height: 25%;
  flex:1;
}

.home__footer {
  position: fixed;
  bottom: 0;
  flex-direction: column;
  width: 100vw;
  height: 70px;
  background: #36d6ad;
  text-align: center;
  color: #ffffff;
}
.home {
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #3772FF;
}

.home__footer p {
  padding: 0 auto;
  text-align: center;
}

.form2 {
  width: 84.03px;
  height: 415px;
  left: 0;
}

.forma__lateral {
  right: 0;
  top: 25%;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: right;
}
@media (max-height:680px) {
  .ilust{
    display: none;
  }
}

@media (min-height:900px) {
  .header{
    height:15em;
  }
}

@media ( min-height:1180px) {
  .header{
    height: 25em;
  }
}
