@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");

.header {
  width: 100%;
  height: 98px;
  position: fixed;
}
.forma {
  left: 0;
  width: 30em;
}

.casa{
  margin:20px;
}



.forma1 {
  display:flex;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index:-1;
  width: 100%;
}
.main__home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.home__content {
  background-color: #3772ff;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.logo {
  width: 35%;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  width: 100vw;
}

.content__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  width: 155px;
  height: 48px;
  left: 102px;
  top: 205px;
  color: #ffffff;
  font-family: "Poppins";
  margin-top: 4px;
}

body {
  font-family: "Poppins";
}

.content__text {
  width: 248px;
  height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins";

  text-align: center;

  color: #ffffff;
}

.btn__inicial {
  width: 180px;
  height: 40px;
  background-color: #fc7071;
  border: none;
  text-align: center;
  color: #ffffff;
  font-family: "Poppins";
  margin: 10px;
}

.ilust {
  flex: 1;
}

.home__footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  padding: 10px;
  background: #36d6ad;
  text-align: center;
  color: #ffffff;
}
.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.home__footer p {
  padding: 0 auto;
  text-align: center;
}

.form2 {
  width: 84.03px;
  height: 415px;
  left: 0;
}

.forma__lateral {
  right: 0;
  top: 25%;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: right;
}

.div__ilust {
  position: absolute;
  bottom: 40px;
}


.home__email {
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  z-index:99;
  justify-content: flex-start;
}
@media (max-height: 750px) {
  .ilust {
    display: none;
  }

  .logo__header {
    display: none;
  }
}

@media (min-height: 760px) {
  .casa {
    left: 180px;
  }

  .mensagem {
    left: 220px;
  }
}

@media (min-height: 1300px) {
  .logo {
    margin-top: 250px;
  }
}
