.main__pets {
  width: 100vw;
  height: calc(100vh - 45px);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.main__pets h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #3772ff;
  text-align: center;
}

.main__cards {
  height: 100vh;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.pets__img {
  width: 40%;
  float: left;
  padding-right: 16px;
}

.cards__text {
  display: flex;
  flex-direction: column;
}

.cards__text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3772ff;
  padding: 0.05em;
  margin: 0;
  padding-bottom: 5px;
}
.cards__text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #737380;
  margin: 0;
}
.main__card {
  width: 350px;
  background-color: #f7f7f7;
  display: flex;
  align-items: flex-start;
  margin:10px;
}

.desc p {
  padding-bottom: 30px;
}

.local {
  padding-top:30px;  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
.icone__mensagem  {
    margin-right: 3px;
}

.main__pets h5{
  margin-top:100px;
}

.usuario{
  position:fixed;
  width: 40px;
  top:30px;
  right: 60px;
}